* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: #03041c;
$gradient: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
$transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
$transition2: all 0.3s ease-in-out;

@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700");

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
span,
a {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary;
}
span {
  color: #000;
}
p {
  color: #555;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: $primary;
}
body::-webkit-scrollbar {
  width: 8px;
}
.active {
  color: $primary !important;
  font-weight: bold;
}
.uk-active {
  box-shadow: 0 -2px 5px #555;
}

.hover-btn {
  position: relative;
  z-index: 1;
  transition: $transition;
  text-transform: capitalize;
  border: 1px solid $primary;
  color: $primary;
  background: transparent;
  padding: 0 15px !important;

  a {
    color: $primary;
    transition: $transition;
    svg {
      margin-left: 0.5rem;
    }
  }

  &:hover a {
    color: #fff;
  }
  &:hover {
    color: #fff;
    transform: translateX(10px);
  }
  &:hover svg {
    color: #fff !important;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $gradient;
    transition: 0.5s;
    z-index: -1;
  }
  &:hover::before {
    width: 100%;
  }
}
.uk-navbar-right {
  padding-right: 40px;
}

.logo {
  cursor: pointer;
  padding-left: 40px;
  span {
    font-family: "Jolly Lodger", cursive !important;
    line-height: 20px;
    color: $primary;
    font-size: 25px;
  }
  .gradient {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .slash {
    color: $primary;
    font-size: 2rem;
    transform: rotate(-20deg);
    margin-right: -0.7rem;
  }
}

.head {
  border-bottom: 1px solid $primary;
  .head-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 50px;
    a {
      color: #000;
      display: inline-block;
      margin: 0 1rem;
      transition: $transition2;

      &:hover {
        color: $primary;
        text-decoration: none;
        transform: translateX(10px);
      }
    }
  }

  .head-2 {
    padding: 1rem 3rem;
    background: $gradient;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    text-align: right;
    a {
      color: #fff;
      display: inline-block;
      margin: 0 1rem;
      transition: $transition;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

nav::before {
  content: "";
  height: 70px;
  width: 70px;
  background-image: url(../src/img/profile.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: 50%;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  opacity: 0;
  border: 3px solid $primary;
}

.uk-active::before {
  top: 70%;
  opacity: 1;
}

.uk-navbar-nav > li > a {
  text-transform: capitalize;
  min-height: 70px;
}

.uk-navbar-nav > li:hover > a {
  transition: $transition;
}

.uk-navbar-nav > li:hover > a:hover {
  transform: translateX(10px);
  color: $primary;
  font-weight: bold;
}
footer .uk-navbar-nav > li:hover > a:hover {
  transform: translateX(10px);
  color: #fff;
  font-weight: bold;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.uk-offcanvas-bar {
  background: $gradient;
}

#offcanvas-push {
  .uk-navbar-nav {
    margin-top: 2rem;
    li {
      a {
        min-height: 50px;
        justify-content: start;
        color: #fff;
        transition: $transition;
        position: relative;
        z-index: 1000;

        &:hover {
          transform: translateX(10px);
        }
      }
    }
  }
}
.uk-offcanvas-overlay::before {
  backdrop-filter: blur(2px);
}
.block {
  display: block !important;
}

.dp {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 3rem auto !important;
  overflow: hidden;
  display: flex;

  .border-top,
  .border-bottom,
  .border-left,
  .border-right {
    position: absolute;
    -webkit-animation: 8s linear infinite;
    animation: 8s linear infinite;
  }

  .border-top {
    top: 0;
    left: 0;
    height: 3px;
    -webkit-animation-name: border-top;
    animation-name: border-top;
  }

  .border-bottom {
    bottom: 0;
    right: 0;
    height: 3px;
    -webkit-animation-name: border-bottom;
    animation-name: border-bottom;
  }

  .border-left {
    bottom: 0;
    left: 0;
    width: 3px;
    -webkit-animation-name: border-left;
    animation-name: border-left;
  }

  .border-right {
    top: 0;
    right: 0;
    width: 3px;
    -webkit-animation-name: border-right;
    animation-name: border-right;
  }

  img {
    transform: scale(0.9);
    transition: $transition;
    width: 300px;
    height: 300px;
    object-fit: cover;

    &:hover {
      transform: scale(0.85);
      opacity: 0.7;
    }
  }
}

@keyframes border-top {
  25% {
    width: 0;
    background: $gradient;
  }

  35% {
    width: 100%;
    background: $gradient;
  }

  50% {
    background: $gradient;
  }

  65% {
    background: $gradient;
  }

  75% {
    width: 100%;
    background: $gradient;
  }

  85% {
    left: auto;
    right: 0;
    width: 0;
    background: $gradient;
  }
}

@keyframes border-bottom {
  0% {
    width: 0;
  }

  15% {
    width: 100%;
    background: $gradient;
  }

  25% {
    background: $gradient;
  }

  35% {
    background: $gradient;
  }

  50% {
    width: 100%;
    background: $gradient;
  }

  65% {
    left: 0;
    width: 0;
    background: $gradient;
  }

  75% {
    background: $gradient;
  }
}

@keyframes border-left {
  15% {
    height: 0;
    background: $gradient;
  }

  25% {
    height: 100%;
    background: $gradient;
  }

  35% {
    background: $gradient;
  }

  50% {
    background: $gradient;
  }

  65% {
    height: 100%;
    background: $gradient;
  }

  75% {
    top: 0;
    height: 0;
    background: $gradient;
  }

  85% {
    background: $gradient;
  }
}

@keyframes border-right {
  35% {
    height: 0;
    background: $gradient;
  }

  50% {
    height: 100%;
    background: $gradient;
  }

  65% {
    background: $gradient;
  }

  75% {
    background: $gradient;
  }

  85% {
    height: 100%;
    background: $gradient;
  }

  100% {
    top: auto;
    bottom: 0;
    height: 0;
    background: $gradient;
  }
}

.small-image {
  cursor: pointer;
}
#show_image_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
  backdrop-filter: blur(4px);
  height: 100vh;

  .close-btn-area {
    position: absolute;
    right: 10px;
    top: 10px;
    #close-btn {
      border: 0;
      font-size: 30px;
      background: #880808;
      width: 30px;
      height: 30px;
      line-height: 15px;
      position: relative;
      color: #fff;
      cursor: pointer;
      z-index: 1000;
    }
    #close-btn:hover {
      background: #eb2117;
    }
  }
  img {
    max-width: 90%;
    height: auto;
    max-height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: block;
  }
}

.info {
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  p {
    line-height: 30px;
    text-align: justify;
    font-size: 16px;
  }
}
.ham-menu {
  border: none;
}

marquee {
  img {
    height: 180px;
  }
}

.skills {
  padding-top: 6rem;

  .skill-wrapper {
    .wrap {
      cursor: pointer;
      position: relative;
      width: 100%;
      justify-content: center;
      display: flex;
      margin-top: 3rem;
      .CircularProgressbar {
        width: 130px;
        height: 130px;
        position: absolute;
      }
      .CircularProgressbar-text {
        display: none;
      }

      .skill-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 130px;
        border: 11px solid #d6d6d6;
        z-index: -1;
        height: 130px;
        border-radius: 500px;
      }
      .skill-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 50%;
        z-index: -1;
      }
    }
  }
}

.experience {
  padding-top: 6rem;
  overflow: hidden;

  .wrapper {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    border-radius: 0.375rem;
    background: #fff;
    padding: 2rem 3rem;
    margin-bottom: 3rem;

    .exp-logo {
      margin-right: 3rem;
      img {
        margin-bottom: 0.5rem;
        width: 100px;
        margin: 0 auto;
        display: block;
      }
      h4 {
        margin: 0.5rem;
        margin-top: 1rem;
        font-weight: bold;
        text-align: center;
      }
      span {
        font-size: 14px;
        color: #555;
        text-align: center;
        display: block;
      }
    }
    .exp-info {
      h3 {
        margin: 0.5rem 0;
        font-weight: bold;
      }
      p {
        text-align: justify;
      }
    }
  }
}

.code {
  height: 100vh;
  background-image: url(./img/code.gif);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: bottom;

  img {
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#fff, transparent);
    top: 0;
    left: 0;
  }
}
.txt {
  text-align: center;
  font-weight: 1000;
  font-size: 30px;
  color: $primary;

  .loader {
    height: 40px;
    margin-bottom: -7px;
  }
}

.all-project-bg {
  height: 50vh;
  background-image: url(./img/project.jpg);
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  .project-bg-txt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: $transition2;
    .Typewriter {
      span {
        font-size: 30px;
        font-weight: bold;
        color: $primary;
      }
    }
  }

  &:hover .project-bg-txt {
    opacity: 1;
  }

  &:hover .project-bg-txt > .Typewriter > span {
    color: $primary;
  }
}

.projects {
  padding-top: 7rem;
  .project-wrapper {
    margin-top: 3rem;
    .project-content {
      cursor: pointer;
      border-radius: 20px;
      margin-bottom: 3rem;
      transition: 0.4s ease-in-out transform;

      .project-icon {
        height: 30px;
        border: 1px solid #d9d9d9;
        padding: 0.3rem;
        border-radius: 9px;
        margin-right: 0.5rem;
      }
      a {
        display: block;
      }

      h5 {
        font-weight: bold;
        padding: 1rem;
        margin: 0;
        padding-bottom: 0;
        font-size: 18px;
      }

      span {
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid #d9d9d9;
        padding-top: 0.5rem;
        display: inline-block;
        color: #555;
        font-size: 14px;

        &:hover {
          text-decoration: none;
        }
      }

      .project-swiper {
        position: relative;
        overflow: hidden;

        .project-bg {
          background: linear-gradient(
            90.7deg,
            rgb(27, 32, 131, 0.8) 0%,
            rgb(3, 4, 28, 0.8) 100%
          );
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          transition: $transition2;
        }
        .project-link {
          display: flex;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .web {
            transition: all 0.3s ease-in-out;
          }
          .git {
            transition: all 0.3s ease-in-out 0.3s;
          }
          .web,
          .git {
            margin-top: -200%;
            width: 50px;
            height: 50px;
            background: #fff;
            line-height: 50px;
            border-radius: 50%;
            margin-right: 0.5rem;
            margin-left: 0.5rem;

            a {
              line-height: 50px;
              text-align: center;
              display: block;
            }

            &:hover {
              transform: translateY(-10px);
              transition: $transition !important;
            }
          }
        }
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px #ebebeb;
      }

      &:hover .project-bg {
        opacity: 1;
        cursor: pointer;
        visibility: visible;
      }
      &:hover .project-link > .web,
      &:hover .project-link > .git {
        margin-top: 0;
      }
    }
  }
}

.contact {
  .contact-info {
    h4 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    a {
      color: #555;
      transition: $transition2;
      display: inline-block;

      &:hover {
        text-decoration: none;
        transform: translateX(10px);
        color: $primary;
      }
    }

    .contact-icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      background: transparent;
      border: 1px solid $primary;
      border-radius: 50%;
      text-align: center;
      animation: animateBtn 1s ease-in-out infinite alternate-reverse both;
    }
  }

  .contact-img {
    margin-left: 2rem;
    img {
      height: 300px;
    }
  }
}

.footer {
  background: $gradient;
  background-attachment: fixed;
  .logo {
    padding-left: 0;
    span {
      color: #fff;
      margin-left: 0.5rem;
    }
    .slash {
      color: #fff;
    }
  }
  .uk-navbar-nav > li > a {
    color: #fff;
    transition: $transition2;
  }
  .uk-navbar-nav > li > a:hover {
    transform: translateX(5px);
  }

  .foot {
    border-top: 1px solid $primary;
    .social-links {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 80px;
      a {
        color: $primary;
        margin-right: 1rem;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        background: #fff;
        transition: $transition2;
        position: relative;
        overflow: hidden;
        animation: socialLinks 3s linear infinite;

        &:hover {
          transform: translateX(5px);
        }
      }

      @keyframes socialLinks {
        0% {
          border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
        }
        50% {
          border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
        }
        100% {
          border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
        }
      }
    }

    .copyright {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 40px;
      align-items: center;
      display: flex;
      justify-content: end;
      background: #fff;
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
      text-align: right;
      span {
        color: $primary;
        font-size: 14px;
      }
    }
  }
}

.go-to-top {
  cursor: pointer;
  display: inline-block;
  right: 10px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1024;
  transition: all 1s cubic-bezier(0.21, 0.6, 0.44, 2.18);

  .go-to-top-icon {
    font-size: 20px !important;
    background: $gradient;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
    transition: $transition;
    display: inline-block;
    border: 1px solid #fff;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

// .pre-loader {
//   background: #fff url(../src/img/gif.gif) no-repeat center center;
//   height: 100vh;
//   width: 100%;
//   position: fixed;
//   z-index: 100000;
//   background-size:50% 50% cover;
// }

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1000000;
  top: 0;
  left: 0;
  background: #fff;
}

@import "responsive";
