@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
span,
a {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #03041c;
}

span {
  color: #000;
}

p {
  color: #555;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: #03041c;
}

body::-webkit-scrollbar {
  width: 8px;
}

.active {
  color: #03041c !important;
  font-weight: bold;
}

.uk-active {
  box-shadow: 0 -2px 5px #555;
}

.hover-btn {
  position: relative;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  text-transform: capitalize;
  border: 1px solid #03041c;
  color: #03041c;
  background: transparent;
  padding: 0 15px !important;
}
.hover-btn a {
  color: #03041c;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}
.hover-btn a svg {
  margin-left: 0.5rem;
}
.hover-btn:hover a {
  color: #fff;
}
.hover-btn:hover {
  color: #fff;
  transform: translateX(10px);
}
.hover-btn:hover svg {
  color: #fff !important;
}
.hover-btn::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  transition: 0.5s;
  z-index: -1;
}
.hover-btn:hover::before {
  width: 100%;
}

.uk-navbar-right {
  padding-right: 40px;
}

.logo {
  cursor: pointer;
  padding-left: 40px;
}
.logo span {
  font-family: "Jolly Lodger", cursive !important;
  line-height: 20px;
  color: #03041c;
  font-size: 25px;
}
.logo .gradient {
  background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.logo .slash {
  color: #03041c;
  font-size: 2rem;
  transform: rotate(-20deg);
  margin-right: -0.7rem;
}

.head {
  border-bottom: 1px solid #03041c;
}
.head .head-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 50px;
}
.head .head-1 a {
  color: #000;
  display: inline-block;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.head .head-1 a:hover {
  color: #03041c;
  text-decoration: none;
  transform: translateX(10px);
}
.head .head-2 {
  padding: 1rem 3rem;
  background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  text-align: right;
}
.head .head-2 a {
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}
.head .head-2 a:hover {
  transform: scale(1.3);
}

nav::before {
  content: "";
  height: 70px;
  width: 70px;
  background-image: url(../src/img/profile.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: 50%;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  opacity: 0;
  border: 3px solid #03041c;
}

.uk-active::before {
  top: 70%;
  opacity: 1;
}

.uk-navbar-nav > li > a {
  text-transform: capitalize;
  min-height: 70px;
}

.uk-navbar-nav > li:hover > a {
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}

.uk-navbar-nav > li:hover > a:hover {
  transform: translateX(10px);
  color: #03041c;
  font-weight: bold;
}

footer .uk-navbar-nav > li:hover > a:hover {
  transform: translateX(10px);
  color: #fff;
  font-weight: bold;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.uk-offcanvas-bar {
  background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
}

#offcanvas-push .uk-navbar-nav {
  margin-top: 2rem;
}
#offcanvas-push .uk-navbar-nav li a {
  min-height: 50px;
  justify-content: start;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  position: relative;
  z-index: 1000;
}
#offcanvas-push .uk-navbar-nav li a:hover {
  transform: translateX(10px);
}

.uk-offcanvas-overlay::before {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.block {
  display: block !important;
}

.dp {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 3rem auto !important;
  overflow: hidden;
  display: flex;
}
.dp .border-top,
.dp .border-bottom,
.dp .border-left,
.dp .border-right {
  position: absolute;
  animation: 8s linear infinite;
}
.dp .border-top {
  top: 0;
  left: 0;
  height: 3px;
  animation-name: border-top;
}
.dp .border-bottom {
  bottom: 0;
  right: 0;
  height: 3px;
  animation-name: border-bottom;
}
.dp .border-left {
  bottom: 0;
  left: 0;
  width: 3px;
  animation-name: border-left;
}
.dp .border-right {
  top: 0;
  right: 0;
  width: 3px;
  animation-name: border-right;
}
.dp img {
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dp img:hover {
  transform: scale(0.85);
  opacity: 0.7;
}

@keyframes border-top {
  25% {
    width: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  35% {
    width: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  50% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  65% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  75% {
    width: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  85% {
    left: auto;
    right: 0;
    width: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
}
@keyframes border-bottom {
  0% {
    width: 0;
  }
  15% {
    width: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  25% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  35% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  50% {
    width: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  65% {
    left: 0;
    width: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  75% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
}
@keyframes border-left {
  15% {
    height: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  25% {
    height: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  35% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  50% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  65% {
    height: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  75% {
    top: 0;
    height: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  85% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
}
@keyframes border-right {
  35% {
    height: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  50% {
    height: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  65% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  75% {
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  85% {
    height: 100%;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
  100% {
    top: auto;
    bottom: 0;
    height: 0;
    background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  }
}
.small-image {
  cursor: pointer;
}

#show_image_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  height: 100vh;
}
#show_image_popup .close-btn-area {
  position: absolute;
  right: 10px;
  top: 10px;
}
#show_image_popup .close-btn-area #close-btn {
  border: 0;
  font-size: 30px;
  background: #880808;
  width: 30px;
  height: 30px;
  line-height: 15px;
  position: relative;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}
#show_image_popup .close-btn-area #close-btn:hover {
  background: #eb2117;
}
#show_image_popup img {
  max-width: 90%;
  height: auto;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: block;
}

.info h1 {
  font-weight: bold;
  font-size: 30px;
}
.info p {
  line-height: 30px;
  text-align: justify;
  font-size: 16px;
}

.ham-menu {
  border: none;
}

marquee img {
  height: 180px;
}

.skills {
  padding-top: 6rem;
}
.skills .skill-wrapper .wrap {
  cursor: pointer;
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 3rem;
}
.skills .skill-wrapper .wrap .CircularProgressbar {
  width: 130px;
  height: 130px;
  position: absolute;
}
.skills .skill-wrapper .wrap .CircularProgressbar-text {
  display: none;
}
.skills .skill-wrapper .wrap .skill-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  border: 11px solid #d6d6d6;
  z-index: -1;
  height: 130px;
  border-radius: 500px;
}
.skills .skill-wrapper .wrap .skill-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 50%;
  z-index: -1;
}

.experience {
  padding-top: 6rem;
  overflow: hidden;
}
.experience .wrapper {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border-radius: 0.375rem;
  background: #fff;
  padding: 2rem 3rem;
  margin-bottom: 3rem;
}
.experience .wrapper .exp-logo {
  margin-right: 3rem;
}
.experience .wrapper .exp-logo img {
  margin-bottom: 0.5rem;
  width: 100px;
  margin: 0 auto;
  display: block;
}
.experience .wrapper .exp-logo h4 {
  margin: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
.experience .wrapper .exp-logo span {
  font-size: 14px;
  color: #555;
  text-align: center;
  display: block;
}
.experience .wrapper .exp-info h3 {
  margin: 0.5rem 0;
  font-weight: bold;
}
.experience .wrapper .exp-info p {
  text-align: justify;
}

.code {
  height: 100vh;
  background-image: url(./img/code.gif);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: bottom;
}
.code img {
  width: 100%;
  height: 100%;
}
.code:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fff, transparent);
  top: 0;
  left: 0;
}

.txt {
  text-align: center;
  font-weight: 1000;
  font-size: 30px;
  color: #03041c;
}
.txt .loader {
  height: 40px;
  margin-bottom: -7px;
}

.all-project-bg {
  height: 50vh;
  background-image: url(./img/project.jpg);
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.all-project-bg .project-bg-txt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.all-project-bg .project-bg-txt .Typewriter span {
  font-size: 30px;
  font-weight: bold;
  color: #03041c;
}
.all-project-bg:hover .project-bg-txt {
  opacity: 1;
}
.all-project-bg:hover .project-bg-txt > .Typewriter > span {
  color: #03041c;
}

.projects {
  padding-top: 7rem;
}
.projects .project-wrapper {
  margin-top: 3rem;
}
.projects .project-wrapper .project-content {
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 3rem;
  transition: 0.4s ease-in-out transform;
}
.projects .project-wrapper .project-content .project-icon {
  height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0.3rem;
  border-radius: 9px;
  margin-right: 0.5rem;
}
.projects .project-wrapper .project-content a {
  display: block;
}
.projects .project-wrapper .project-content h5 {
  font-weight: bold;
  padding: 1rem;
  margin: 0;
  padding-bottom: 0;
  font-size: 18px;
}
.projects .project-wrapper .project-content span {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 0.5rem;
  display: inline-block;
  color: #555;
  font-size: 14px;
}
.projects .project-wrapper .project-content span:hover {
  text-decoration: none;
}
.projects .project-wrapper .project-content .project-swiper {
  position: relative;
  overflow: hidden;
}
.projects .project-wrapper .project-content .project-swiper .project-bg {
  background: linear-gradient(90.7deg, rgba(27, 32, 131, 0.8) 0%, rgba(3, 4, 28, 0.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.projects .project-wrapper .project-content .project-swiper .project-link {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects .project-wrapper .project-content .project-swiper .project-link .web {
  transition: all 0.3s ease-in-out;
}
.projects .project-wrapper .project-content .project-swiper .project-link .git {
  transition: all 0.3s ease-in-out 0.3s;
}
.projects .project-wrapper .project-content .project-swiper .project-link .web,
.projects .project-wrapper .project-content .project-swiper .project-link .git {
  margin-top: -200%;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.projects .project-wrapper .project-content .project-swiper .project-link .web a,
.projects .project-wrapper .project-content .project-swiper .project-link .git a {
  line-height: 50px;
  text-align: center;
  display: block;
}
.projects .project-wrapper .project-content .project-swiper .project-link .web:hover,
.projects .project-wrapper .project-content .project-swiper .project-link .git:hover {
  transform: translateY(-10px);
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18) !important;
}
.projects .project-wrapper .project-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ebebeb;
}
.projects .project-wrapper .project-content:hover .project-bg {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}
.projects .project-wrapper .project-content:hover .project-link > .web, .projects .project-wrapper .project-content:hover .project-link > .git {
  margin-top: 0;
}

.contact .contact-info h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.contact .contact-info a {
  color: #555;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.contact .contact-info a:hover {
  text-decoration: none;
  transform: translateX(10px);
  color: #03041c;
}
.contact .contact-info .contact-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: transparent;
  border: 1px solid #03041c;
  border-radius: 50%;
  text-align: center;
  animation: animateBtn 1s ease-in-out infinite alternate-reverse both;
}
.contact .contact-img {
  margin-left: 2rem;
}
.contact .contact-img img {
  height: 300px;
}

.footer {
  background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  background-attachment: fixed;
}
.footer .logo {
  padding-left: 0;
}
.footer .logo span {
  color: #fff;
  margin-left: 0.5rem;
}
.footer .logo .slash {
  color: #fff;
}
.footer .uk-navbar-nav > li > a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer .uk-navbar-nav > li > a:hover {
  transform: translateX(5px);
}
.footer .foot {
  border-top: 1px solid #03041c;
}
.footer .foot .social-links {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 80px;
}
.footer .foot .social-links a {
  color: #03041c;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  animation: socialLinks 3s linear infinite;
}
.footer .foot .social-links a:hover {
  transform: translateX(5px);
}
@keyframes socialLinks {
  0% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85%/72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
}
.footer .foot .copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 40px;
  align-items: center;
  display: flex;
  justify-content: end;
  background: #fff;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  text-align: right;
}
.footer .foot .copyright span {
  color: #03041c;
  font-size: 14px;
}

.go-to-top {
  cursor: pointer;
  display: inline-block;
  right: 10px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1024;
  transition: all 1s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}
.go-to-top .go-to-top-icon {
  font-size: 20px !important;
  background: linear-gradient(90.7deg, #1b2083 0%, #03041c 100%);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  line-height: 40px;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  display: inline-block;
  border: 1px solid #fff;
}
.go-to-top .go-to-top-icon:hover {
  transform: translateY(-5px);
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1000000;
  top: 0;
  left: 0;
  background: #fff;
}

@media (max-width: 1399.9px) {
  .contact .contact-img img {
    height: 200px;
  }
}
@media (max-width: 1199.9px) {
  .uk-navbar-left {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 25px;
  }
  .uk-navbar-right {
    padding-right: 20px;
  }
  .contact .contact-img img {
    height: 300px !important;
  }
  .contact .map {
    margin-top: 3rem;
  }
  .contact .map iframe {
    height: 300px;
  }
  #contact {
    padding-top: 6rem;
  }
}
@media (max-width: 959.9px) {
  .all-project-bg {
    margin-top: 3rem;
  }
}
@media (max-width: 766.9px) {
  .head .head-1 a {
    font-size: 14px;
  }
  .head .head-2 {
    padding: 1rem;
  }
  .dp {
    width: 200px;
    height: 200px;
  }
  .dp img {
    width: 200px;
    height: 200px;
  }
  .info h1 {
    font-size: 20px;
  }
  .info p {
    font-size: 14px;
  }
  .contact .contact-info .contact-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .contact .contact-info .contact-icon svg {
    height: 20px;
  }
  .contact .contact-info h4 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact .contact-img img {
    height: 200px !important;
  }
}
@media (max-width: 639.9px) {
  span,
  p,
  a,
  button {
    font-size: 12px !important;
  }
  .head .head-2 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    text-align: left;
    padding-left: 3rem;
  }
  .dp {
    width: 300px !important;
    height: 300px !important;
  }
  .dp img {
    width: 300px !important;
    height: 300px !important;
  }
  .logo span {
    font-size: 25px !important;
  }
  .hover-btn {
    padding: 0 20px;
  }
  .experience .wrapper {
    flex-direction: column;
  }
  .experience .wrapper .exp-logo {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .footer .logo {
    padding-left: 1rem;
  }
  .footer .foot .copyright {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: start;
    margin-left: 1rem;
  }
  .footer .foot .social-links {
    padding-left: 60px;
  }
  .txt {
    font-size: 24px;
  }
  .experience .wrapper .exp-info h3 {
    font-size: 20px;
  }
  .experience .wrapper .exp-logo h4 {
    font-size: 18px;
  }
}
@media (max-width: 500.9px) {
  .footer .uk-navbar-nav {
    margin-right: 1rem;
  }
  .logo {
    padding-left: 10px !important;
  }
  .logo span {
    font-size: 20px !important;
  }
}/*# sourceMappingURL=App.css.map */